*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
.container{
    width: 100%;
    height: 100vh;
}
.logo{
    position: absolute;
    left: 90px;
    top: 50px;
}
.logo a{
    text-shadow: 2px 2px 30px rgb(0,0,0,0.2);
    font-weight: bold;
    color: #2f2e41;
    font-size: 30px;
    letter-spacing: 3px;
}
.SearchArea {
    position: fixed;
    right: 90px;
    top: 50px;
    width: 170px;
    height: 45px;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    box-shadow: 2px 2px 30px rgb(167,158,245,0.2);
    box-sizing: border-box;
    z-index: 1;
    border: 1px solid rgb(167,158,245,0.1);
}
.searchbox input{
    width: 90px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #1f1f1f;
    font-size: 20px;
    padding: 0px 10px;
}
.section1{
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-15%, -50%);
    
}
.section1 img{
    height: 300px;
}
.section1Button{
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translate(-90%, -50%);
}

.section1Button h1, h2{
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    line-height: 60px;
    font-size: 70px;
    text-shadow: 2px 2px 10px rgb(0,0,0,0.5);
    letter-spacing: 3px;
    color: #3D3D4A;
    text-transform: uppercase;
}
.section1Button h1{
    letter-spacing: 33px;
}
.btn{
    width: 150px;
    height: 40px;
    background-color: #2f2e41;
    box-shadow: 2px 2px 30px rgb(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    margin-top: 20px;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    border: transparent !important;
}
.btn:hover{
    color: #fff;
    background-color: #6e64ff;
    transition: all ease 0.5s;
}
.IconArea{
    position: fixed;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgb(0,0,0,0.2);
    padding: 5px 0px;
    z-index: 1;
}
.IconArea a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    color: #1f1f1f;
}
.IconArea a:hover .fa-facebook-f{
    color: #3b5998;
}
.IconArea a:hover .fa-twitter{
    color: #00acee;
}
.IconArea a:hover .fa-instafram{
    color: #e1391b;
}
.IconArea a:hover .fa-youtube{
    color: #FF0000;
}
.ProductSection{
    width: 85%;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgb(0,0,0,0.2);
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    margin-top: -60px;
    position: relative;
    background-size: 1000px;
    border-radius: 10px;
}
.ProductSection > h3{
    margin: 20px;
    text-shadow: 2px 2px 30px rgb(0,0,0,0.5);
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    font-size: 30px;
    color: #323543;
}
.product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
    width: 100%;
}
.productbox{
    width: 350px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    position: relative;
    margin: 10px 30px;
}
.productbox img {
    height: 180px;
}
.productbox a{
    color: #1f1f1f;
    font-family: sans-serif;
    font-size: 1rem;
}
.productbox .BuyBtn{
    position: absolute;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
    color: #ffffff;
    background-color: rgb(34, 28, 53);
    animation: fade 0.2s;
}
.BuyBtn:hover{
    display: flex;
    background-color: #3b5998;
    transition: all ease 0.3s;
}
.productbox:hover{
    box-shadow: 2px 2px 30px rgb(0,0,0,0.1);
    background-color: #ffffff;
}
.about{
    display: flex;
    width: 85%;
    margin: 50px auto;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
.aboutbox{
    width: 40%;
    font-family: sans-serif;
}
.aboutbox img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.about h1{
    color: #3b5998;
    font-weight: 700;
    font-size: 3rem;
    margin: 0px;
}
.about h4{
    color: #333333;
    font-weight: 100;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.aboutbox p{
    font-size: 20px;
    color: #bdbdbd;
    letter-spacing: 0.5px;
}
.notification{
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(0,0,0,0.3);
}
.notification h1{
    font-size: 2rem;
    color: rgb(56, 56, 56);
}
.notificationseach{
    width: 500px;
    background-color: #fff;
    border-radius: 7% 7% 7% 7% / 50% 50% 50% 50%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    box-shadow: 2px 5px 30px rgb(0,0,0,0.1);
    margin-top: 30px;
}
.notificationseach input{
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 1rem;
    border-radius: 20px;
    border: none;
    background-color: transparent;
}
.notibtn{
    width: 120px;
    height: 40px;
    background-color: #202020;
    border-radius: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 2px 2px 30px rgb(0,0,0,0.1);
    font-size: 1rem;
}
.notibtn:hover{
    background-color: #6b60ec;
    transition: all ease 0.5s;
}
footer {
    background-color: black!important;
    padding: 20px;
}
footer p{
    text-align: center;
    color: #fff;
}

/*Mobile View*/
@media (max-width:768px){
    .section1 img{
        height: 150px;
    }
    .section1{
        left: 55%;
        top: 40%;
    }
    .section1Button{
        top: 60%;
    }
    .section1Button h1{
        letter-spacing: 16px;
    }
    .section1Button h1, h2{
        line-height: 25px;
        font-size: 25px;
    }
    .logo {
        left: 30px;
        top: 85px;
    }
    .SearchArea {
        right: 23px;
        top: 45px;
    }
    .ProductSection {
        width: 90%;
        left: 27px;
        margin-top: -235px;
    }
    .about h4 {
        font-size: 25px;
        margin-top: 0px;
    }
    .aboutbox img {
        width: 170%;
    }
    .notification h1 {
        font-size: 20px;
    }
    .notificationseach {
    width: 300px;
    height: 40px;
    }
    .notification {
        width: 108%;
    }
    .notibtn {
        height: 30px;
    }
}